*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: #f0f0f0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

body{
    background-color: #f0f0f0;
}

header{
    background-color: #ff993e;
    width: 100%;
    padding: 20px;
}

header .logo{
   font-size: 30px;
}

header .logo img{
    width: 60px;
    vertical-align: top;
}

header .logo a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    line-height: 60px;
}

header nav{
    width: 50%;
}

header nav a{
    background-color: #c0392b;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover{
    background-color: #e74c3c;
}