*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: #f0f0f0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

body{
    background-color: #f0f0f0;
}

header{
    background-color: #ff993e;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo{
    font-size: 30px;
    margin-left: 30px;
}

header .logo img{
    width: 50px;
    vertical-align: top;
}

header .logo a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    line-height: 50px;
}

header nav{
    width: 45%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header nav a{
    background-color: #c0392b;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Arial;
}

header nav a:hover{
    background-color: #e74c3c;
}